{{!//////////////// Installing and Configuring Mustache //////////////////}}

{{! <html>
<head>
    <title>Pagina Home </title>
</head>
<body>
    <h1>Titulo da pagina </h1>
    <hr />

    Opa, Como vai? Mau {{user}} ainda tens {{age}} anos?

{{! </body>
</html>  }}

{{!//////////////////// Mustache: Rendering information //////////////////}}

{{! <html>
<head>
    <title>Pagina Home </title>
</head>
<body>
    <h1>Titulo da pagina </h1>
    <hr />

    Opa, Como vai? Mau {{user}} ainda tens {{age}} anos?
{{!</body>
</html>   }}

{{! ///////////// Mustache: Condtional Display /////////////////////}}

{{! <html>
<head>
    <title>Pagina Home </title>
</head>
<body>
    <h1>Titulo da pagina </h1>
    <hr />
    
    Opa, Como vai? Mau {{user}} ainda tens {{age}} anos?
     {{! {{#showOld}}
        {{! Como vai a vida?
    {{/showOld}} 
{{! </body>
</html>  }} 

{{! ///////////// Mustache: Displaying Lists (loop) /////////////////////}}
<!--
 <html>
<head>
    <title>Pagina Home </title>
</head>
<body>
    <h1>Titulo da pagina </h1>
    <hr />
    
    Opa, Como vai? Mau {{user}} ainda tens {{age}} anos?
    {{#showOld}}
        Como vai a vida?
    {{/showOld}}

    <hr />

    <h2>Produtos</h2>
    <ul>
        {{#products}}
            <li>{{title}} - Mzn {{price}}</li>
        {{/products}}
    </ul>

    <hr/>

    <ul>
        {{#dayCotes}}
            <li>{{.}}</li>
        {{/dayCotes}}
    </ul>

</body>
</html>
-->  

{{! ///////////// Mustache: Else of Lists  /////////////////////}}

<html>
<head>
    <title>Pagina Home </title>
</head>
<body>
    <h1>Titulo da pagina </h1>
    <hr />
    
    Opa, Como vai? Mau {{user}} ainda tens {{age}} anos?
    {{#showOld}}
        Como vai a vida?
    {{/showOld}}
    {{^showOld}}
        Menino novo
    {{/showOld}}

    <hr />

    <h2>Produtos</h2>
    <ul>
        {{#products}}
            <li>{{title}} - Mzn {{price}}</li>
        {{/products}}
    </ul>

    <hr/>

    <ul>
        {{#dayCotes}}
            <li>{{.}}</li>
        {{/dayCotes}}
        {{^dayCotes}}
            No motivational cotes today
        {{/dayCotes}}
    </ul>

</body>
</html> 